{% extends "layout.html" %}
{% block content %}
    <main class="container dashboard">
        <div class="details-head">
            <i class="fa-solid fa-user fa-2x"></i>
            <h1>Submitted By</h1>
        </div>
        <div class="details-header">
            <div class="profile-header-details">
                <img class="rounded-circle account-img img-profile" src="{{img_src}}">
                <div class="details">
                    <h2>Submitted by : {{submission.user.username}}</h2>
                    <p>His/Her email : {{submission.user.email}}</p>
                    <p>Submitted on : {{submission.submitted_at.strftime("%Y-%m-%d")}}</p>
                    {% if request.args.get("act") %}
                        <a class="btn btn-success" style="color:white;font-weight: 1000;" href="{{url_for('projects.evaluate_form',id=submission.id,act=request.args.get('act'))}}">Evaluate</a>
                    {% else %}
                        <a class="btn btn-success" style="color:white;font-weight: 1000;" href="{{url_for('projects.evaluate_form',id=submission.id)}}">Evaluate</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="details-head">
            <i class="fa-solid fa-circle-info fa-2x"></i>
            <h1>Submission Details</h1>
        </div>
        <div class="info-header">
            <div class="info-section">
                <h3>Description</h3>
                <div>{{submission.info}}</div>
            </div>
            <div class="info-section">
            <a class="btn btn-info info-btn" href="{{submission.submission_link}}">Repository Link</a>
            </div>
        </div>
        <div class="details-head">
            <i class="fa-solid fa-bookmark fa-lg"></i>
            <h1>Project's Details</h1>
        </div>
        <div class="info-header">
            <div class="info-section">
                <h3>Title</h3>
                <h5>{{submission.project.title}}</h5>
            </div>
            <div class="info-section">
                <h3>Description</h3>
                <div>{{submission.project.description}}</div>
            </div>
            <div class="info-section skills">
                <h3>Skills Required : </h3>
                <ul>
                    {% for i in submission.project.skills.split(',') %}
                    <li>{{i.strip()}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="info-section">
                {% if submission.project.descriptive_pdf == "No pdf" %}
                    <a class="btn btn-dark info-btn" href="{{url_for('projects.project_details',project_id=submission.project.id)}}" target="_blank">No pdf uploaded by the teacher</a>
                {% else %}
                    <a class="button button-diff info-btn" href="{{pdf}}" target="_blank">Open pdf with details</a>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
