{% extends "layout.html" %}
{% block content %}
    <main class="container dashboard">
    <div class="profile-header">
      <img class="rounded-circle account-img img-profile" src="{{img_src}}">
      <div class="details">
        <h2>{{current_user.username}}</h2>
        <p>{{current_user.email}}</p>
        <p>{{current_user.role.capitalize()}}</p>
        <a class="button" href="{{url_for('users.update_profile')}}">Edit Profile</a>
      </div>
    </div>

    <div class="proj-grid">
      <div class="proj-card">
        <div class="proj-content">
          <h4>Projects Taken</h4>
          <span class="proj-number">{{current_user.total_projects_taken}}</span>
        </div>
        <p>Currently Working on them</p>
      </div>
      
      <div class="proj-card">
        <div class="proj-content">
          <h4>Submissions</h4>
          <span class="proj-number">{{current_user.total_projects_submitted}}</span>
        </div>
        <p>Projects submiited to the teacher</p>
      </div>
      
      <div class="proj-card">
        <div class="proj-content">
          <h4>Submissions Evaluated</h4>
          <span class="proj-number">{{current_user.total_projects_evaluated}}</span>
        </div>
        <p>Remarks Given by the teacher</p>
      </div>
    </div>

    <div class="projects-table-outer">
    <div class="projects-table-container">
      <div class="table-header">
        <h2>Projects Taken</h2>
      </div>

      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Project's Title</th>
              <th>Taken on</th>
              <th>Teacher</th>
              <th>Submit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            {% for i in projects %}
              <tr>
                <td>{{i.project.title}}</td>
                <td>{{i.taken_at.strftime("%Y-%m-%d")}}</td>
                <td>{{i.project.user.username}}</td>
                <td><a class="btn btn-info" href="{{url_for('projects.submit_proj_taken',project_taken_id=i.id)}}">Submit</a></td>
                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Remove</button>
                
                  <!-- Modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" style="color:black;" id="deleteModalLabel">Remove Project</h5>
                              <button type="button" style="margin:0.01rem;" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-footer">
                              <form action="{{url_for('projects.remove_proj_taken',project_taken_id=i.id)}}" method="POST">
                                  <input type="submit" class="btn btn-danger" value="Delete">
                              </form>
                          </div>
                          </div>
                      </div>
                    </div>
                
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
      <div class="outer-position-btn">
      {% if plm %}
        <a class="btn btn-outline-primary position-btn" href="{{url_for('projects.more_info_taken')}}">Load More</a>
      {% endif %}
      </div>
    </div>

    <div class="projects-table-outer">
    <div class="projects-table-container">
      <div class="table-header">
        <h2>Projects Submitted</h2>
      </div>
      <div class="table-responsive">
        <table>
          <thead>
            <tr>
              <th>Project's Title</th>
              <th>Upload Date</th>
              <th>Uploaded by</th>
              <th>Submitted on</th>
              <th>Reviews</th>
            </tr>
          </thead>
          <tbody>
            {% for i in submissions %}
              <tr>
                <td>{{i.project.title}}</td>
                <td>{{i.project.created_at.strftime("%Y-%m-%d")}}</td>
                <td>{{i.project.user.username}}</td>
                <td>{{i.submitted_at.strftime("%Y-%m-%d")}}</td>
                {% if not i.evaluation %}
                  <td><a class="btn btn-dark">No Reviews yet</a></td>
                {% else %}
                  <td><a class="btn btn-success" href="{{url_for('projects.reviews',id=i.evaluation[0].id)}}">Check Reviews</a></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
      <div class="outer-position-btn">
        {% if slm %}
          <a class="btn btn-outline-primary position-btn" href="{{url_for('projects.more_info_submitted')}}">Load More</a>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock content %}
