{% extends "layout.html" %}
{% block customstyle %}
        <link rel="stylesheet" href="{{url_for('static',filename='forms.css')}}">
{% endblock customstyle %}
{% block content %}
    <div class="outer-container">
        <div class="container-teacherform">
            <h1>{{legend}}</h1>
            <form method='POST' id="projectForm" action="" enctype="multipart/form-data">
                <div class="form-group">
                    {{form.title.label}}
                        {% if form.title.errors %}
                            {{form.title}}
                            {% for error in form.title.errors %}
                                <span class="text-danger">{{error}}</span>
                            {% endfor %}
                        {% else %}
                            {{form.title}}
                        {% endif %}
                </div>
                <div class="form-group">
                    {{form.description.label}}
                        {% if form.description.errors %}
                            {{form.description}}
                            {% for error in form.description.errors %}
                                <span class="text-danger">{{error}}</span>
                            {% endfor %}
                        {% else %}
                            {{form.description}}
                        {% endif %}
                </div>
                <div class="form-group" id="{{id}}">
                    {{ form.hidden_tag() }}
                    <div class="skills-grp">
                        {{ form.skills.label() }}
                        <input type="text" id="skillInput">
                        <button class="button button-diff add-btn" type="button" onclick="addSkill()">Add</button>
                        <div class="skills" id="skillsDisplay"></div>
                    </div>
                    {{ form.skills(id="skills") }}
                    {% if form.skills.errors %}
                        {% for error in form.skills.errors %}
                            <span class="text-danger">{{error}}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{form.file_pdf.label}}
                        {{form.file_pdf(id="image",style="display: none;")}}
                        <label for="image" class="custom-btn">Upload pdf here</label>
                        <span id="file-name" class="file-info">
                            {% if id=='update' %}
                                No file chosen to update
                            {% else %}
                                No file chosen
                            {% endif %}
                        </span>
                        {% if form.file_pdf.errors %}
                            {% for error in form.file_pdf.errors %}
                                <span class="text-danger">{{error}}</span>
                            {% endfor %}
                        {% endif %}
                </div>
                <div>
                        {{form.submit(class="submit-btn")}}
                </div>
            </form>
        </div>
    </div>
    <script src="{{url_for('static',filename='forms.js')}}"></script>
{% endblock content %}
